# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://buokafrkkcmdhrjxtvha.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1b2thZnJra2NtZGhyanh0dmhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNDQ4OTAsImV4cCI6MjA5MDgyMDg5MH0.gvaMZmTcn3EKPm1r-j82M-vO9PJRsXtUKg44zqluD1c
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1b2thZnJra2NtZGhyanh0dmhhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI0NDg5MCwiZXhwIjoyMDkwODIwODkwfQ.OlxDkEkyrfZ7PinTfX6gmacx2aYqMQL0FLNMVdg2H-c

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_STUDIO_WHATSAPP=+255712168011
NEXT_PUBLIC_STUDIO_EMAIL=info@blackdotmusic.com

RESEND_API_KEY=re_hjcq1BVz_5oLr2DSAbZ2SDsZjr5X83RT7
NEXT_PUBLIC_APP_URL=http://localhost:3000
